streamlit==1.46.1
beautifulsoup4==4.13.4
faiss-cpu==1.11.0
httptools==0.6.4
konlpy==0.6.0
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-upstage==0.7.0
noun-splitter==0.0.1
pip==25.1.1
pyqt5-plugins==5.15.9.2.3
PyQt5_sip==12.17.0
pyqt6-tools==6.4.2.3.3
PySocks==1.7.1
python-crfsuite==0.9.11
selenium==4.34.1
sentence-transformers==5.0.0
sentencepiece==0.2.0
uvloop==0.21.0
watchfiles==1.1.0
webdriver-manager==4.0.2
websockets==15.0.1